voila
flake8
black
ipywidgets
bqplot
numpy<2
xeus-python
ipympl
pandas
jupyterlab_code_formatter
jupyterlab-lsp
jupyterlab-git
jupyterlab-unfold
git+https://github.com/logilab/onyxia-jupyter-composer
